@model IEnumerable<ProyectoFinal.Models.FormBloodPressure>

@{
    ViewBag.Title = "Historial de Presión Sanguinea";
}
<div id="detailFormName">
@Html.Label("Historial de Presión Sanguinea")
</div>
@*<p>
    @Html.ActionLink("Nueva entrada", "Create", "FormBlood")
</p>*@
<table>
    <tr>
        <th>
            <img src="~/Images/blood pressure.png" width="18" height="18" />
        </th>
        <th>
            @Html.Label("Creado por")
        </th>
        <th>
            @Html.Label("Fecha")
        </th>
        <th>
            @Html.Label("Sistólica")
        </th>
        <th>
            @Html.Label("Diastólica")
        </th>
        <th>
            @Html.Label("Ritmo Cardíaco")
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", "FormBlood", new { id=item.Id },null) |
            @Html.ActionLink("Eliminar", "Delete", "FormBlood", new { id=item.Id },null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            <text>@Html.DisplayFor(modelItem => item.Sistolica) mmHg</text>
        </td>
        <td>
            <text>@Html.DisplayFor(modelItem => item.Diastolica) mmHg</text>
        </td>
        <td>
            <text>@Html.DisplayFor(modelItem => item.RitmoCardiaco) bpm</text>
        </td>
    </tr>
}
</table>
