@model IEnumerable<ProyectoFinal.Models.PatientModel>

@{
    ViewBag.Title = "Buscar Pacientes";
}

<h2>Buscar Pacientes</h2>

@*<p>
    @using (Html.BeginForm()){
         <p>@Html.TextBox("searchString", "Buscar por nombre, apellido...")
         <input type="submit" value="Buscar" /></p> 
        }
</p>*@
<form action="~/Patients/SearchPatients" method="post">
  <input type="text" name="searchString" placeholder="Buscar por nombre, apellido...">
  <input type="submit" value="Buscar">
</form>
<table>
    @if(Model.Any())
    {
    <tr>
        <th>
            @Html.Label("Nombre")
        </th>
        <th>
            @Html.Label("Apellido")
        </th>
        <th>
            @Html.Label("Cédula")
        </th>
        <th>
            @Html.Label("Sexo")
        </th>
        <th>
            @Html.Label("Seguro Médico")
        </th>
        <th>
            @Html.Label("No Seguro Médico")
        </th>
    </tr>
    }
    @if(!Model.Any()) {
        if (!String.IsNullOrEmpty(ViewBag.isSearch))
        {
            @Html.Label("No se encontró el paciente, intente de nuevo!")
        }
    }

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeguroMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSeguroMedico)
        </td>
        <td>
            @Html.ActionLink("Ver Perfil", "Details", new { id=item.Id })

        </td>
    </tr>
}

</table>
